.icon-common{
    background-image: url('../../assets/icon/common-icon.png');
    background-repeat: no-repeat;
}

.icon-copy{
    background-position: -54px -204px;
    width: 11px;
    height: 12px;
}

.icon-edit{
    background-position: -79px -205px;
    width: 12px;
    height: 12px;
}

.icon-delete{
    background-position: -105px -204px;
    width: 10px;
    height: 12px;
}

.icon-refresh{
    background-position: -129px -202px;
    width: 12px;
    height: 16px;
}

.icon-add{
    background-position: -154px -205px;
    width: 12px;
    height: 11px;
}

.icon-help{
    background-position: -179px -204px;
    width: 12px;
    height: 12px;
}

.icon-save{
    background-position: -330px -129px;
    width: 11px;
    height: 11px;
}

.icon-save-add{
    background-position: -29px -130px;
    width: 11px;
    height: 10px;
}

.icon-close{
    background-position: -280px -155px;
    width: 10px;
    height: 10px;
}

.icon-cancel{
    background-position: -255px -130px;
    width: 10px;
    height: 10px;
}

.icon-first-page{
    background-position: -656px -131px;
    width: 8px;
    height: 8px;
}

.icon-prev-page{
    background-position: -708px -131px;
    width: 5px;
    height: 8px;
}

.icon-next-page{
    background-position: -758px -131px;
    width: 5px;
    height: 8px;
}

.icon-last-page{
    background-position: -806px -131px;
    width: 8px;
    height: 8px;
}

